<!-- -*- mode: XML -*- -->
<launch>
<arg name="id" default="1"/>

  <!--Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ric_description)/config/ric_robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/komodo_$(arg id)" args="
					   base_rotation_controller
					   shoulder_controller
					   elbow1_controller
					   elbow2_controller
					   wrist_controller
					   left_finger_controller
					   right_finger_controller
					   joint_state_controller 
					   "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/komodo_$(arg id)/joint_states"/> 

  </node> 

</launch>
