<!-- -*- mode: XML -*- -->
<launch>
<arg name="id" default="1"/>

<!-- Launch world -->

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->

	<include file="$(find ric_description)/launch/komodo.launch">
		<arg name="id" value="1"/>
		<arg name="x" value="0.0" />
		<arg name="y" value="0.0" />
		<arg name="z" value="0.1" />
		<arg name="R" value="0.0" />
		<arg name="P" value="0.0" />
		<arg name="Y" value="0.0" />
 		<arg name="first" value="1"/>
		</include>

 <!-- Spawn URDF models under different name spaces -->

	<group ns="komodo_1/">
		<include file="$(find ric_description)/launch/komodo.launch">
		<arg name="id" value="1"/>
		<arg name="x" value="0.0" />
		<arg name="y" value="0.0" />
		<arg name="z" value="0.1" />
		<arg name="R" value="0.0" />
		<arg name="P" value="0.0" />
		<arg name="Y" value="0.0" />
		</include>
 <!-- ros_control clam launch file -->
  		<include file="$(find ric_description)/launch/komodo_control.launch" >
		<arg name="id" value="1"/>
 	       </include>
	</group>
		
</launch>

